*{
    margin: 0px auto;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}
body{
    width: 1200px;
}

/* Header css */
header ul{
    text-align: right;
}
header ul li{
    display: inline-block;
    padding: 30px 15px;
}
header ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #3C3C3C;
}

/* second section start */
.first-section{
    /* margin-top: -5%; */
}
.intro-data{
    margin-top: 20%;
}
.intro-data h1{
    color: #363958;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 5px 5px 10px rgba(70, 70, 70, 0.2);
    letter-spacing: 5px;
}
.intro-data span{
    color: #FF8367;
    font-family: 'Bebas Neue', cursive;
}
.intro-data p{
    line-height: 25px;
    font-size: 16px;
    margin: 15px 0px;
    color: #3E3E3E;
}
.intro-data button{
    background-image: linear-gradient(360deg, #FF8063,#F46060
    );
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: 0px;
    padding: 13px 35px;
    margin: 15px 0px;
}
.section{
    height: 500px;

}
.half-section{
    width: 45%;
    float: left;
    padding: 2%;
    
}
.half-section img{
    width: 100%;
}
/* sec 2 */
.sec-2{
    margin-left: 2%;
}

/* section third */

.latest-work img{
    width: 100%;
}
.latest-work{
    width: 31%;
    float: left;
}